{% extends "./base.html.twig" %}

{% block body %}
<div class="main-container">
    <div class="container-1">
        <h2>meal plan.</h2>
        <h1>For a Healthier Lifestyle, Plan the Right Way.</h1>

    <!--Add Recipe Button and TO DO: load more link -->
        <div class="p-5 d-flex justify-content-center">
            <a href="/add/meal" class="button-add add-button-and-load-more" role="button" aria-pressed="true">ADD NEW MEAL</a>
            <!--a href="/add/meal"-->
            <!--<a href="#" class="load-more add-button-and-load-more">LOAD MORE...</a> -->
        </div>


    </div>
    
    <div class="search-by-name">
            <input type="text" class="form-control-sm search-text-box" placeholder="Search By Name..">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Search By Type
                </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><button type="submit" class="meal-type-button" name="breakfast"> Breakfast </button></li>
                        <li><button type="submit" class="meal-type-button" name="lunch"> Lunch </button></li>
                        <li><button type="submit" class="meal-type-button" name="dinner"> Dinner </button></li>
                    </ul>
            </div>
            <i class="fa-solid fa-arrows-rotate fa-2xl refresh-arrow"></i>

            
    </div>


<!--Bootstrap grid system for displaying recipes -->
        <div class="container-md meals-container">
            <div class="row align-items-center">
            {% for meal in meals %}
                    <div class="col-sm-3 meal-container {{meal.mealType}}">
                        <!--<div class="col-sm image-column">-->
                        <img src="{{ meal.meal_Photo }}" alt="" class="meal-images">   
                        <input type="hidden" value={{ meal.id }} class="meal-id"/>
                        <div class="meal-name-text">
                                {# <a href="/meal/{{meal.id}}/new-recipe">{{ meal.meal_Name }}</a>  #}
                               {{ meal.meal_Name }}
                        </div>
                    </div>   
            {% endfor %}       
            </div> 
        </div>      
    </div>
</div>
</div>
    <!--TODO: Load More.. Link -->

   <!--will call a js function to include recipes twig file. -->
    <div class="recipe-container" style="display: none">
    </div>

{% endblock %}