{% extends './base.html.twig' %}

{% block body %}

<div>
    <h1 class="page-header">
        Edit Recipe
    </h1>
    {% if recipe.image is not null %}
        <img src= {{recipe.image}} class="edit-screen-image"/>
    {% endif %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button
            type="submit"
            class="button">
            SAVE
        </button>

    {{ form_end(form) }}
</div>    

<div class="edit-delete-button">
    <a href="/recipes/delete/{{ recipe.id}}"
        class="button-delete">
        DELETE
    </a>

</div>
{% endblock %}
